
.air-interface{
    height: 725px;
    overflow: scroll;
}
.air-flight-search , .air-flight-search-result{
    max-height: 728px;
    overflow-y: scroll;
    min-height: 728px;
}

.head_section{
    border: 1px solid gray;
    background: #2196f31f;
    text-align: center;
}

